<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Npgsql" version="2.2.5" targetFramework="net45" />
  <package id="Oracle.ManagedDataAccess" version="12.1.2400" targetFramework="net45" />
  <package id="ServiceStack" version="3.9.71" targetFramework="net45" />
  <package id="ServiceStack.Common" version="3.9.71" targetFramework="net45" />
  <package id="ServiceStack.OrmLite.MySql" version="3.9.71" targetFramework="net45" />
  <package id="ServiceStack.OrmLite.Oracle" version="3.9.71" targetFramework="net45" />
  <package id="ServiceStack.OrmLite.PostgreSQL" version="3.9.71" targetFramework="net45" />
  <package id="ServiceStack.OrmLite.SqlServer" version="3.9.71" targetFramework="net45" />
  <package id="ServiceStack.Redis" version="3.9.71" targetFramework="net45" />
  <package id="ServiceStack.Text" version="3.9.71" targetFramework="net45" />
</packages>